*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


.background {
background-color: #01172F;
background-repeat: no-repeat;
background-size: cover;
position: relative;
height: 100vh;
}

.containing-block {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
}

.logo {
    top: 20px;
    left: 5px;
    height: 10vh;
    position: absolute;
}